################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/learningspace_web_bot/bin/Debug/netcoreapp2.2
